pip==20.1
bump2version==1.0.0
wheel==0.34.2
watchdog==0.10.2
flake8==3.8.1
ipython==7.14.0
tox==3.15.0
coverage==5.1
Sphinx==3.2.0
twine==3.1.1
pandas==1.0.3
pivottablejs==0.9.0
pandas_profiling==2.8.0
seaborn==0.10.1
pytest==5.4.2
pytest-runner==5.2