pip==20.2.2
bump2version==1.0.0
llvmlite==0.34.0
wheel==0.36.0
watchdog==0.10.3
flake8==3.8.3
ipython==7.16.0
tox==3.19.0
coverage==5.2.1
Sphinx==3.2.1
twine==3.2.0
pandas==1.1.1
numpy==1.19.1
pivottablejs==0.9.0
pandas_profiling==2.8.0
seaborn==0.10.1
pytest==6.0.1
pytest-runner==5.2